/* Generated CSS code */

/* Variables */
:root {
    --circle: 'circle';
    --slide: 'slide';
    --width: 100%;
    --height: 500px;
  }
  
  /* General Styles */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .parent {
    width: var(--width);
    height: var(--height);
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    overflow: hidden;
    position: absolute;
    

  }
  
  svg {
    position: absolute;
    z-index: 1;
    width: var(--width);
    height: var(--height);
  }
  
  button {
    z-index: 50;
    width: 40px;
    overflow: hidden;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }
  
  button:focus {
    outline-width: 0;
  }
  
  circle {
    stroke: #fff;
    fill: none;
    transition: 0.3s;
  }
  
  #svg1 circle {
    transition-timing-function: linear;
  }
  
  #svg2 circle {
    transition-timing-function: linear;
  }
  
  #Capa_1 {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(-7px, -8px);
  }
  
  #Capa_2 {
    position: absolute;
    width: 16px;
    height: 16px;
    transform: translate(-9px, -8px);
  }
  
  .right {
    margin-top: 168px;
    border: 1px solid #849494;
    background-color: transparent;
    transition: 0.5s;
    border-radius: 50%;
    padding-left: 20px;
  }
  
  .right:hover {
    background-color: #fff;
  }
  
  .left {
    margin-top: 168px;
    border: 1px solid #849494;
    background-color: transparent;
    transition: 0.5s;
    border-radius: 50%;
    padding-left: 20px;
  }
  
  .left:hover {
    background-color: #fff;
  }
  
  .slider {

    width: 100%;
    display: inline-flex;
    overflow: hidden;
  }
  
  .slide1,
  .slide2,
  .slide3,
  .slide4 {
    position: absolute;
    color: #fff;
    font-size: 62px;
    font-weight: 800;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 10;
    transition: 1.4s;
  }

 
  
  .tran {
    transform: scale(1.3);
  }
  
  .up1 {
    z-index: 20;
  }
  
  .up2 {
    z-index: 40;
    width: 100%;
    height: 600px;
  }
  
  .steap {
    stroke-width: 0;
  }
  
  .streak {
    stroke-width: 82px;
  }

  .pictures{
    background-image: url('img/bg6.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
 
  